!!!5
html
  head
    script(src='pakmanaged.js')
    link(rel='stylesheet', href='style.css')
  body
    form#js-login
      input.js-user(type="text", placeholder="username")
      input.js-pass(type="password", placeholder="password")
      input.js-org(type="text", placeholder="organization")
      input(type="submit", value="Log In")

    div#content

      div.issues
        h2 Issues
        #js-issues
          .js-issue(draggable='true', data-issue-id='2808000')
            .hidden.count(data-col-moves='4') moves: 4
            header.issue-header
              a.js-link(target='_blank', href='https://github.com/SpotterRF/spotter-todo/issues/59') [
                span.js-number 59
                | ]
            span.js-title Everything is Borken
            pre
              code
                .js-body.hidden
                  | Heinous details

      div.tags
        form#js-search-issues
          input.js-keyword(type="text", placeholder="keyword")
        div.clear
      div.tags
        ul#js-repos
          li(data-repo-name="FooBar").js-repo.tag
            span.js-name FooBar
            button.hidden.js-unselect.float-right X
      div.tags
        ul#js-labels
          li(data-label-name="Critical").js-label.tag
            span.js-name Critical
            button.hidden.js-unselect.float-right X
      div.tags
        ul#js-assignees
          li(data-assignee-login="SpongeBob").js-assignee.tag.assignee
            img.thumb-photo.js-photo(src="https://secure.gravatar.com/avatar/0a8b345ddcfc5401f578c850442f1e1b.jpg")
            span.js-login.float-left SpongeBob
            button.hidden.js-unselect.float-right X
